<div class="col-md-6 forms">
  <h1>Search Form</h1>
  <form #usernameForm='ngForm' (ngSubmit)="getUsername(usernameForm.value)">
    <div>
      <label for="githubUsername">Enter the GitHub Username you would like to search for:</label>
      <input required ngModel name="username" #username="ngModel" type="text" id="githubUsername" class="inputs" />
      <button type="submit" id="userButton" class="btn btn-outline-primary">Search</button>
    </div>
  </form>
  <br>
  <form #repositoryForm='ngForm'>
    <div class="form-group">
      <label for="repository">Enter the Github Repository you would like to search for:</label>
      <input required ngModel name="repository" #repository="ngModel" type="text" id="repository" class="inputs" />
      <button type="submit" id="repoButton" class="btn btn-outline-primary">Search</button>
    </div>
  </form>
</div>

<app-username-display [users]='users'></app-username-display>
